*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}
/*HEADER*/
header{
    background-color: #2e3a46;
    height: 100px;
}

header img{
    height: 80px;
    padding: 10px;
}

header .input-box{
    width: 200px;
}


/*MAIN*/
main{
    background-color: #1e2d3b;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

/*Card*/
main .card{
    background-color: #2e3a46;
    height: 100%;
}

.card .info-card{
    color: #65727b;
}